[alias]
    up = !git push -u origin "$(git rev-parse --abbrev-ref HEAD)"
    pushf = push --force-with-lease
    delete-branch = push origin --delete
    prune-branches = !git for-each-ref --shell --format='b="$(echo %(refname) | cut -sd / -f 3-)" && [ "$b" != master ] && git branch -d "$b"' refs/heads/ | sh

    # Listing things
    branches = branch -a
    tags = tag
    stashes = stash list
    graph = log --graph --oneline --decorate
    ls = !git-ls

    # Committing
    amend = commit --amend

    # Bisecting
    good = bisect good
    bad = bisect bad

    # Checkout
    co = checkout
    cob = checkout -b

    # Pulling
    pr = pull --rebase
    prom = pull --rebase origin master
[push]
    default = simple
[user]
    name = Paul Harper
    email = benekastah@gmail.com
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[core]
    editor = /usr/bin/vim

# This belongs at the end
[include]
    path = "~/.gitconfig.local"
[grep]
    patternType = extended
[branch]
    autoSetupRebase = always
